package content

import "fmt"

templ ErrorTab(err error) {
	<div id="tabError" class="tabcontent">
		<h3>Oops... something went wrong</h3>
		<br/>
		<div class="errorMsg">
			{ fmt.Sprintf("%s", err) }
		</div>
		<br/>
		<p>Make sure that the provided <code>varnishlog</code> logs have been generated as explained in the "Parse" tab</p>
	</div>
}
