body {
  width: 100%;

  display: grid;

  grid-template-areas: "nav content";
  grid-template-rows: 1fr;
  grid-template-columns: auto 1fr;
}

#content {
  grid-area: content;
  display: grid;

  height: 100dvh;
  overflow: auto;
}

nav {
  grid-area: nav;
  display: flex;
  flex-direction: row-reverse;
  align-content: right;
  align-items: flex-start;
}

nav fieldset {
  display: flex;
  gap: 2px;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 0.5rem 0.8rem 0.8rem 0.8rem;
  margin: 1rem 1.8rem 1rem 1.8rem;
  background-color: var(--bg-0);
  border: 2px solid var(--accent);
  border-radius: 0px;
  box-shadow: none;
}

nav fieldset legend {
  font-family: var(--font-text2);
  font-size: var(--fsize-xs);
  font-style: italic;
  color: var(--fg-1);
  padding: 0 0.3rem 0 0.3rem;
}

nav fieldset label {
  color: var(--fg-0);
  font-size: var(--fsize-s);
  font-family: var(--font-text2);
  cursor: pointer;
  padding: 2px;
}

nav fieldset label:hover {
  color: var(--accent-hover) !important;
  text-decoration: underline;
}

input[type="radio"].nav {
  display: none;
}

.view,
.error {
  grid-area: 1 / 1;
}

.view {
  display: none;
}

.view-content {
  max-width: var(--view-width);
  padding: 1rem;
}

#radio-parse:checked ~ nav fieldset label[for="radio-parse"],
#radio-overview:checked ~ nav fieldset label[for="radio-overview"],
#radio-timings:checked ~ nav fieldset label[for="radio-timings"],
#radio-headers:checked ~ nav fieldset label[for="radio-headers"],
#radio-vcllogtree:checked ~ nav fieldset label[for="radio-vcllogtree"],
#radio-reqbuild:checked ~ nav fieldset label[for="radio-reqbuild"] {
  color: var(--accent);
  font-weight: bold;
}

#radio-parse:checked ~ #content #parse-view,
#radio-overview:checked ~ #content #overview-view,
#radio-timings:checked ~ #content #timings-view,
#radio-headers:checked ~ #content #headers-view,
#radio-vcllogtree:checked ~ #content #vcllogtree-view,
#radio-reqbuild:checked ~ #content #reqbuild-view {
  display: block;
}

@media (max-width: 980px) {
  body {
    grid-template-areas:
      "nav"
      "content";
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
  }

  #content {
    overflow: visible;
  }

  nav {
    flex-direction: row;
    align-content: center;
    align-items: center;
    padding: 0 0 2px 0;
  }

  nav fieldset {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
    align-items: center;
    margin: 0 0.4rem 0 0.4rem;
    padding: 0.3rem 0.4rem 0.4rem 0.4rem;
  }

  .view-content {
    max-width: 100vw;
    padding: 0.6rem;
  }
}
