#currentNumOfTxsParsed,
#firstParsedHostname {
  display: none;
}

#history {
  margin-top: 20px;

  & table {
    margin-top: 10px;
    min-width: 850px;
    max-width: var(--view-width);
  }

  & th,
  & td {
    text-align: left;
    vertical-align: middle;
  }

  & .btn-load,
  .btn-delete {
    display: block;
    cursor: pointer;
  }

  .btn-load {
    color: var(--accent);
  }

  .btn-delete {
    color: var(--red-0);
  }

  .btn-load:hover,
  .btn-delete:hover {
    text-decoration: underline;
  }

  & .name-cell {
    cursor: pointer;
    color: var(--accent);
  }

  & .name-cell:hover {
    text-decoration: underline;
    color: var(--accent-hover);
  }

  & .name-input {
    width: 100%;
    padding: 4px;
    border: 1px solid var(--accent);
    border-radius: 3px;
  }

  & .empty-state {
    text-align: left;
    color: var(--gray-0);
  }

  & .note {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: var(--fsize-xxxs);
    font-style: italic;
  }

  & {
    .pagination {
      display: flex;
      justify-content: left;
      align-items: left;
      gap: 0.5rem;
    }

    .pagination a {
      color: var(--accent);
      text-decoration: underline;
      cursor: pointer;
    }

    .pagination a.disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    .pagination span {
      color: var(--fg-1);
    }
  }
}
