table {
  border-collapse: collapse;
  margin-bottom: 18px;
  border: none;
}

th {
  font-size: var(--fsize-xs);
  color: var(--fg-0);
  font-weight: 600;
  text-decoration: underline;
  padding: 4px 10px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

tbody tr {
  border-bottom: 1px solid var(--border);
}

tbody tr:hover {
  background-color: var(--table-bg-hover);
}

tbody tr:last-child {
  border-bottom: none;
}

td {
  padding: 6px 10px;
  color: var(--fg-1);
}

td {
  font-family: var(--font-mono);
  font-size: var(--fsize-xs);
}
