package partials

templ Footer(version string) {
	<footer class="footer">
		Copyright &copy; 2024 Manuel Sanchez Pinar
		• <abbr title="Varnishlog Parser Web User Interface">Version: { version }</abbr>
	</footer>
}
