package partials

templ LoadMermaid() {
	<script type="module">
		import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@11/dist/mermaid.esm.min.mjs';
		mermaid.initialize({
			startOnLoad: false,
			sequence: { showSequenceNumbers: true },
		});
		function loadMermaid() {
			mermaid.run();
		};
		setTimeout(loadMermaid, 100);
	</script>
}
