/* Main Theme */
:root {
  --fixed-warm-0: #5d3024;
  --fixed-warm-1: #f4e4e1;

  --white-0: #ffffff;
  --black-0: #000000;

  --fg-0: var(--black-0);
  --fg-1: #222928;
  --fg-2: #525251;
  --bg-0: var(--white-0);
  --bg-1: #f9f9f9;
  --bg-2: #f0f0f0;

  --red-0: #a60000;
  --green-0: #006800;
  --yellow-0: #6f5500;
  --blue-0: #0031a8;

  --calm: #61284e;
  --cold: #093060;
  --mild: #184033;
  --warm: #5d3025;

  --tree-color-0: #fbf5f4;
  --tree-color-1: #f4e4e1;
  --tree-color-2: #edd3cf;
  --tree-color-3: #e6c2bc;
  --tree-color-4: #dfb1a9;
  --tree-border-color: var(--fg-1);
}

/* Dark Theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-0: var(--black-0);
    --bg-1: #1e1e1d;
    --bg-2: #2e2e2d;
    --fg-0: var(--white-0);
    --fg-1: #e9e9e9;
    --fg-2: #c5c5c5;

    --red-0: #ff5f58;
    --green-0: #44bc43;
    --yellow-0: #d0bc00;
    --blue-0: #62c2fe;

    --calm: #fbd6f3;
    --cold: #c6eafe;
    --mild: #bfebe0;
    --warm: #f8dec0;

    --tree-color-0: #0b0504;
    --tree-color-1: #1e0e0b;
    --tree-color-2: #301612;
    --tree-color-3: #431f19;
    --tree-color-4: #562820;
    --tree-border-color: #272727;
  }
}

/* Variables */
:root {
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI Adjusted",
    "Segoe UI", "Liberation Sans", sans-serif;
  --font-family-mono: SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono,
    monospace;

  --base-font-size: 16px;
  --code-font-size: 14px;

  --line-height: 1.44;
  --line-height: 1.2;

  --vertical-0: calc(var(--line-height) * 1rem);
  --vertical-1: calc(var(--line-height) * 1.5rem);
  --vertical-2: calc(var(--line-height) * 2.5rem);
  --vertical-3: calc(var(--line-height) * 3.5rem);

  --space-0: 0.5rem;
  --space-1: 1rem;
  --space-2: 1.5rem;
  --space-3: 2rem;

  --xxxlsize: 2.1rem;
  --xxlsize: 1.75rem;
  --xlsize: 1.45rem;
  --lsize: 1.2rem;
  --msize: 1rem;
  --ssize: 0.9rem;
  --xssize: 0.8rem;
  --xxssize: 0.7rem;
}

/* Screen size modifiers */
@media only screen and (max-width: 1024px) {
  :root {
    --base-font-size: 14px;
    --code-font-size: 12px;
  }
}

/* Common */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  font-size: var(--base-font-size);
  line-height: var(--line-height);
  color: var(--fg-0);
  background-color: var(--bg-0);
}

body,
html {
  height: 100%;
}

/* BEGIN Layout */
#main-container {
  display: flex;
  flex: 1 0;
  overflow-x: auto;
  background-color: var(--bg-0);
}

.topbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: stretch;

  background-color: var(--fixed-warm-0);
  color: var(--white-0);

  width: 100%;
  margin: 0;
  padding: 0;

  font-size: calc(var(--base-font-size) * 1.1);
  text-align: center;
  align-items: center;

  flex: none;
}

.sidebar {
  color: var(--fg-0);
  background-color: var(--bg-0);
  border-right: 1px dashed var(--fixed-warm-0);
  white-space: nowrap;
  flex: none;
}

.sidebar.hidden,
.sidebar.hidden * {
  border: none;
  max-width: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#content {
  flex: 1 0;
  padding: var(--space-1);
  min-height: 100%;
  overflow-y: auto; /* keeps the sidebar in place */
}
/* END Layout */

.topbar button.sidebar-toggle-btn {
  place-content: center;
  text-align: center;
  outline: none;
  border: none;
  background-color: var(--fixed-warm-1);
  color: var(--black-0);
  fill: var(--black-0);
  border-radius: 8px;
  cursor: pointer;
  padding: calc(var(--space-0) * 0.75);
}

.topbar button.sidebar-toggle-btn:hover {
  background-color: var(--white-0);
}

.topbar button.sidebar-toggle-btn svg {
  display: block;
}

.topbar #logo * {
  fill: var(--fixed-warm-1);
  color: var(--fixed-warm-1);
}

.topbar #logo {
  margin-top: 5px;
  margin-bottom: 2px;
}

.topbar a {
  color: var(--fixed-warm-1);
}

.topbar a:hover {
  background-color: inherit;
  color: var(--bg-0);
}

.topbar-1 {
  margin-left: 25px;
  text-align: left;
}

.topbar-2 {
  text-align: center;
  padding: 0;
  display: block;
}

.topbar-3 {
  text-align: right;
  margin-right: 25px;
}

.sidebar-btns {
  display: flex;
  flex-direction: column;
}

.sidebar-btns button {
  flex: 1;
  outline: none;
  border: none;

  background-color: var(--bg-0);
  color: var(--fg-0);
  border-left: 3px solid var(--bg-0);

  cursor: pointer;
  font-family: var(--font-family);
  font-size: var(--code-font-size);
  text-align: left;
  padding: calc(var(--space-0) * 0.9);
  padding-right: var(--space-3);
  padding-left: var(--space-1);
  margin-left: var(--space-0);
  margin-right: var(--space-0);

  transition-delay: 0s;
  transition-duration: 0.1s;
  transition-timing-function: linear;
}

.sidebar-btns button:hover {
  color: var(--fg-0);
  background-color: var(--bg-1);
  border-left: 3px solid var(--warm);
}

.sidebar-btns button.active,
.sidebar-btns button.active:hover {
  color: var(--fg-0);
  background-color: var(--tree-color-1);
  border-left: 3px solid var(--warm);
}

#defaultTabBtn,
#defaultTabBtn.active,
#defaultTabBtn.active:hover {
  margin-top: var(--space-1);
  font-weight: bold;
}

.tabcontent {
  display: none;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
  padding: calc(var(--vertical-0) * 0.75);
}

pre:not(.mermaid) {
  font-family: var(--font-family-mono);
  font-size: var(--code-font-size);
  background-color: var(--bg-2);
  border: 2px solid var(--bg-rgba-dim);
  margin: var(--vertical-0) 0;
  padding: var(--space-0);
  padding-left: var(--space-2);
  white-space: pre-wrap;
  white-space-collapse: preserve;
  overflow: auto;
  max-height: 45vh;
  overflow-wrap: break-word;
  word-break: normal;
  word-wrap: inherit;
  border-radius: 5px;
}

:not(pre) > code {
  background-color: var(--bg-2);
  color: var(--fg-2);
  padding: 3px;
}

pre.mermaid {
  background-color: var(--white-0);
  margin: var(--vertical-0) 0;
  border-radius: 3px;
}

textarea {
  font-family: var(--font-family-mono);
  font-size: calc(var(--code-font-size) * 0.9);
  display: block;
  width: 90%;
  padding: var(--space-0);
  color: var(--fg-0);
  background: none;
  border: 2px solid var(--fg-1);
  border-radius: 6px;
  outline: none;
}

textarea:focus {
  border: 2px solid var(--warm);
}

input[type="text"] {
  font-family: var(--font-family-mono);
  font-size: calc(var(--code-font-size) * 0.9);
  padding: var(--space-0);
  color: var(--fg-0);
  background-color: var(--bg-1);
  border: 2px solid var(--fg-1);
  border-radius: 6px;
  outline: none;
}

input[type="text"]:focus {
  border: 2px solid var(--warm);
}

.btn.parse-btn {
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: calc(var(--base-font-size) * 1.1);
  border-width: 3px;
}

.btn {
  font-family: var(--font-family);
  font-weight: bold;
  outline: none;
  color: var(--bg-1);
  background-color: var(--fg-1);
  border-color: var(--fg-0);
  border-width: 2px;
  border-radius: 6px;
  padding: calc(var(--space-0) * 0.8);
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--warm);
  border-color: var(--warm);
  color: var(--bg-0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family);
  line-height: var(--line-height);
  padding: 0;
  margin-bottom: var(--space-0);
  font-weight: 700;
}

h1 {
  font-size: var(--xxxlsize);
}
h2 {
  font-size: var(--xxlsize);
  color: var(--warm);
}
h3 {
  font-size: var(--xlsize);
  color: var(--cold);
}
h4 {
  font-size: var(--lsize);
  color: var(--mild);
}
h5 {
  font-size: var(--lsize);
  color: var(--calm);
}
h6 {
  font-size: var(--msize);
  color: var(--fg-1);
}

ul,
ol {
  margin-left: var(--space-1);
}

li + li,
li ul,
li ol {
  margin-top: var(--space-0);
}

p + h2,
p + h3,
ul + h2,
ul + h3,
ol + h2,
ol + h3,
blockquote + h2,
blockquote + h3,
div + h2,
div + h3,
small + h2,
small + h3,
pre + h2,
pre + h3,
dd + dt {
  margin-top: var(--vertical-1);
}

p {
  margin: 0 0 var(--vertical-0);
  padding: 0;
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

abbr {
  cursor: help;
}

a {
  padding: 2px;
  color: var(--blue-0);
}

a:hover {
  background-color: var(--blue-0);
  color: var(--bg-0);
}

.strike {
  text-decoration: line-through;
}

.headers {
  padding: var(--space-0);
  margin-bottom: var(--space-3);
  font-family: var(--font-family);
}

.headers details summary {
  font-size: calc(var(--base-font-size) * 1.3);
  color: var(--fg-0);
  margin-top: 6px;
}

.headers details summary:hover {
  color: var(--warm);
}

table.headers-table {
  margin: var(--space-1);
  padding: var(--space-1);
  border-radius: 5px;
  background-color: var(--bg-1);
}

table.headers-table tbody tr th {
  font-weight: normal;
  text-align: right;
  padding-right: 8px;
}

table.headers-table tbody tr td {
  padding-left: 8px;
  font-weight: normal;
  text-align: left;
}

table.headers-table tbody tr.hdr-type th {
  font-weight: bold;
  text-align: left;
  color: var(--warm);
  border-bottom: 1px solid var(--warm);
  padding: var(--space-0) 0px calc(var(--space-0) * 0.5) 0px;
}

table.headers-table tbody tr.hdr-type th abbr {
  text-decoration: none;
}

.diffOriginal {
  color: var(--fg-1);
}

.diffAdded {
  color: var(--green-0);
}

.diffModified {
  color: var(--yellow-0);
}

.diffDeleted {
  color: var(--red-0);
}

table.headers-legend th {
  text-align: right;
  vertical-align: top;
  padding-right: 8px;
}

summary {
  cursor: pointer;
}

/* Request builder form */
form#headerForm {
  width: 600px;
  padding: var(--space-1);
  background-color: var(--bg-1);
  border: 1px solid var(--bg-2);
  border-radius: 8px;
}

form#headerForm > label {
  display: block;
  font-weight: bold;
}

form#headerForm select,
form#headerForm > input[type="radio"] {
  cursor: pointer;
}

fieldset {
  display: inline-block;
  background-color: var(--bg-2);
  border: 1px solid var(--fg-2);
  border-radius: 5px;
  padding: 10px;
  margin: 3px;
  margin-bottom: var(--space-1);
}

fieldset label {
  padding-right: var(--space-1);
}

form#headerForm > label {
  display: inline-block;
  margin-right: var(--space-1);
  margin-bottom: var(--space-0);
  font-weight: normal;
  color: var(--fg-1);
}

legend {
  font-weight: bold;
  color: var(--warm);
  font-size: var(--base-font-size);
  margin-bottom: var(--space-0);
}

form#headerForm select {
  min-width: 80px;
  margin: 3px 0px 8px 0px;
  padding: var(--space-0);
  font-size: var(--base-font-size);
  border-radius: 4px;
  border: 1px solid var(--fg-2);
  background-color: var(--bg-1);
}

select#transactionSelect,
select#transactionBackend {
  width: 500px;
}

select:focus,
input[type="radio"]:focus {
  outline: 1px solid var(--warm);
}

form#headerForm > input,
form#headerForm select {
  font-size: var(--code-font-size);
  color: var(--fg-1);
}

.htmx-request.loading {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* VCL Log Tree */
div.txtree {
  display: inline-block;
  font-family: var(--font-family-mono);
  font-size: var(--code-font-size);
}

div.txtree ul {
  list-style-type: none;
  background-color: var(--tree-color-0);
  color: var(--fg-0);
  border: 1px solid var(--tree-border-color);
  border-radius: 6px;

  margin: 6px 1rem 6px 1.5rem;
  padding: 10px;
  padding-top: 8px;
  padding-bottom: 8px;

  display: grid;
  grid-template-columns: minmax(min-content, 112px) max-content; /* max should be enough for all tags */
  column-gap: 4px;
  row-gap: 5px;

  grid-column: span 2; /* when this element is a child, occupy 2 columns */
}

div.txtree ul.color-0 {
  background-color: var(--tree-color-1);
}

div.txtree ul.color-1 {
  background-color: var(--tree-color-2);
}

div.txtree ul.color-2 {
  background-color: var(--tree-color-3);
}

div.txtree ul.color-3 {
  background-color: var(--tree-color-4);
}

div.txtree ul.root-ul {
  margin: 0px;
}

div.txtree ul li {
  display: block;
  padding-top: 4px;
  padding-bottom: 4px;
}

div.txtree ul div {
  display: block;
}

div.txtree ul div.tx-header {
  font-weight: bold;
  font-size: var(--base-font-size);
}

/* HTMX animation after element creation */
.fade-me-in.htmx-added {
  transform: translate(-150%);
}

.fade-me-in {
  transform: translate(0);
  transition: all 0.3s ease;
}
